/* Reset and Box Model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#intro {
    padding: 8px 0px 0px 8px; 
}

/* Base Styles */
html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    color: #000;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    overflow-x: hidden;
}

a {
    text-decoration: no
